.Rproj.user
.Rhistory
.RData
.Ruserdata
/old scripts
/archive
/old Rdata
complex.lake.proportions.R
scoping abstract.docx
dnr package.txt
aggregate.vilas.vbgf.csv
all_structures_growth_params.RData
fmdb.vbgf.status.csv
/lake_class_standards
lake_huc_xref.csv
otolith_growth_params.RData
Sassetal_Fisheries_SupplementalTables_final.xlsx
scale_growth_params.RData
sex.specific.vilas.vbgf.csv
spine_growth_params.RData
vbgf_parms.csv
walleye.lakeClass.length.weight.csv
walleye.lakeClass.length.weight.lm.csv
wi_halk_aged_growth_params.RData
/figures
/pattern_matching_data
